header {
    background-color: #000;
}

header p,
header a {
    color: #fff;
    padding: 10px;
}

nav a img {
    height: 22px;
    width: 160px;
}

nav .search-box {
    background-color: #f0f0f0;
    border-radius: 62px;
    padding: 0 16px;
}

nav .search-input {
    background: transparent;
    border: 0;
}

nav .search-icon-wrapper {
    background: transparent;
    border: 0;
}

nav .navbar-collapse {
    flex-grow: 0;
}

form.d-flex {
    flex-grow: 1;
}

form.d-flex .search-box {
    width: 100%;
    margin-right: 0;
}

nav .navbar-toggler {
    border: none;
    color: #000;
    padding: 0 10px;
}

#search-icon {
    display: none !important;
}

@media (max-width: 1200px) {
    nav .navbar-collapse .navbar-nav {
        gap: 0.5rem !important;
    }
}

@media screen and (max-width: 425px) {

    header p,
    header a {
        padding: 5px;
    }
}

@media (max-width: 390px) {
    nav form[role="search"] {
        display: none !important;
    }

    #search-icon {
        display: block !important;
    }

    .icons {
        gap: .5rem !important;
    }

    .navbar-brand img {
        width: 126px;
        height: 18px;
    }
}

@media (max-width: 332px) {
    nav .navbar-brand {
        margin-right: 20px !important;
    }
}

/* HERO */
.hero {
    min-height: 100vh;
    background-image: url(../imgs/hero/hero-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero .hero-text h1 {
    padding-top: 103px;
    font-size: 64px;
    font-weight: bold;
    color: black;
}

.hero .hero-text p {
    font-size: 16px;
    padding: 24px 0 16px 0;
    opacity: 60%;
}

.hero .hero-btn {
    padding: 15px 67.5px;
    font-size: 16px;
    border-radius: 62px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero .hero-btn:hover {
    background-color: #333;
}

.hero .hero-statistics {
    gap: 64px;
    padding-top: 48px;
    flex-wrap: wrap;
}

.hero .hero-statistics .statistic-number {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.hero .hero-statistics .statistic-label {
    font-size: 16px;
    color: black;
    opacity: 60%;
}

.hero .hero-image {
    display: none;
}

@media (max-width: 1024px) and (min-width: 425px) {
    .hero {
        background-image: url(../imgs/hero/hero-small-bg.webp);
        background-position: top;
        background-size: cover;
    }

}

@media (max-width: 425px) {
    .hero {
        background-color: #f2f0f1;
        background-image: none;
    }

    .hero .hero-image {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    .hero .hero-text h1 {
        font-size: 36px;
        padding-top: 40px;
    }

    .hero .hero-text p {
        font-size: 14px;
        padding: 20px 0 24px 0;
    }

    .hero .hero-btn {
        padding: 15px 130px;
    }

    .hero .hero-statistics {
        gap: 55px;
        padding-top: 22px;
        justify-content: center;
        row-gap: 12px;
    }

    .hero .hero-statistics .statistic-number {
        font-size: 24px;
    }

    .hero .hero-statistics .statistic-label {
        font-size: 12px;
    }
}

/* END HERO */

/* BRANDS */
.brands {
    background-color: #000;
}

.brands .brand {
    padding: 44px 0;
    gap: 55px;
    flex-wrap: wrap;
    row-gap: 20px;
}

@media (max-width: 425px) {
    .brands .brand {
        padding: 38px 0;
        gap: 30px;
    }

    .brands .brand img {
        width: 25%;
        height: auto;
    }
}

/* END BRANDS */

/* NEW ARRIVALS */
.new-arrivals .section-title {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 55px;
    padding-top: 72px;
    text-align: center;
    color: black;
}

.new-arrivals .card-group {
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.new-arrivals .card-group .card .card-title {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.new-arrivals .card-group .card .card-body .review span {
    font-size: 20px;
}

.new-arrivals .card-group .card .card-body .review .text-muted {
    font-size: 14px;
    opacity: 60%;
}

.new-arrivals .card-group .card .card-body .pricing {
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding-top: 8px;
    line-height: 1;
}

.new-arrivals .card-group .card .card-body .pricing .old-price {
    opacity: 40%;
}


.new-arrivals .card-group .card .card-body .pricing .sale {
    font-size: 12px;
    color: #ff3333;
    padding: 6px 13.5px;
    border-radius: 62px;
    background-color: rgba(255, 51, 51, 0.1);
}

.new-arrivals .new-arrivals-btn {
    padding: 16px 0;
}

.new-arrivals .btn {
    font-size: 16px;
    padding: 15px 80px;
    border-radius: 62px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

@media screen and (max-width: 580px) {
    .new-arrivals .carousel-item {
        padding: 0px;
    }
    .new-arrivals .btn {
    font-size: 14px;
    padding: 12px 130px;
    }
}